{% extends 'base.html' %}
{% load i18n %}
{% block title %}Chef settings{% endblock %}

{% block css %}
    {% include "_stylesheets.html" %}
    <style type="text/css">

        .pan {
            padding: 10px;
            margin: 10px;
            border: 10px solid #3A91D8;
            display: inline-block;
            width: calc(100% - 60px);
            min-width: 900px;
        }

        .chef-repo {
            display: flex;
            float: left;
            width: calc(100% - 60px);
            font-size: 26px;
            text-align: left;
            white-space: nowrap;
        }

        .chef-repo .btn-primary {
            float: right;
        }

        .chef-repo span {
            float: left;
        }

        .chef-repo input {
            width: 75%;
            margin-left: 5px;
            margin-right: 5px;
        }

        .chef-list ul {
            white-space: nowrap;
            float: left;
        }

        {# this is list header #}
        .chef-list > ul > div {
            display: inline-block;
            font-size: 26px;
            width: 100%;
            text-align: left;
            line-height: 100%;
        }

        .addable.chef-list > ul {
            width: 30.3%;
            padding: 0.75%;
            margin: 0.75%;
            background: #aaaaaa;
        }

        .addable.chef-list .btn {
            float: right;
        }

        .addable.chef-list span {
            align-self: center;
        }

        .non-addable.chef-list ul {
            width: 97%;
        }

        .chef-edit {
            display: none;
        }

        .flex {
            display: inline-flex;
        }

        .flex span {
            padding-left: 5px;
            padding-right: 5px;
            width: 50%;
            text-align: right;
            font-size: 20px;
        }

        .flex select {
            width: 50%;
        }

        .hidden-value {
            display: none;
        }

    </style>
{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title="Chef 설정" %}
{% endblock page_header %}

{% block main %}
    <div class="pan chef-repo">
        <form action="{{ request.path }}" method="POST" class="chef-repo">
            {% csrf_token %}
            <label class="chef-repo">Chef Repo URL:
                <input type="url" name="chef_server_url" value="{{ chef_server_url }}">
            </label>
            <button class="btn btn-primary" type="submit">sync</button>
        </form>
    </div>

    <div class="pan addable chef-list">
        <table cellpadding="5" cellspacing="5" width="100%">
            <thead>
            <tr style="font-size: 26px;">
                {% for chef_ent in addable_chef_list %}
                    <td>
                        <div style="padding: 0.75%;margin: 0.75%;width: 97%;height: 97%;display: inline-block">
                            <span>{{ chef_ent.title }}</span>
                            <a href="#" class="btn"><span class="hidden-value">{{ chef_ent.tmpl }}</span>add</a>
                        </div>
                    </td>
                {% endfor %}
            <tr>
            </thead>
            <tbody>
            <tr style="vertical-align: top">
                {% for chef_ent in addable_chef_list %}
                    <td>
                        <div style="padding: 0.75%;margin: 0.75%;background: #aaaaaa;width: 97%;height: 97%;display: inline-block">
                            <ul>
                                {% for item in chef_ent.list %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

    <div class="pan chef-edit">
        <iframe src="/project/chef/jsonlint/" id="iframe-jsonlint" width="100%">
        </iframe>
        <div class="btn btn-create">create</div>
        <div class="btn">cancel</div>
    </div>
    <div class="pan non-addable chef-list">
        <ul class="nav nav-pills nav-stacked">
            <div>
                <span>COOKBOOK LIST</span>
            </div>
            {% for k,v in cookbooks.items %}
                <li>
                    {{ k }}
                    {% for i in v.versions %}
                        <span>
                        {{ i.version }}
                    </span>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type='text/javascript' charset='utf-8'>
        $('.addable > table a.btn').click(function () {
            var edit = $('.chef-edit');
            var $iframe = $('#iframe-jsonlint');
            var contents = $iframe.contents();
            var scrollHeight = contents.find('body')[0].scrollHeight;

            $iframe.height(scrollHeight);

            if (edit.css("display") == "none") {
                edit.show();
            } else {
                edit.hide();
            }

            contents.find('#json_input').val($(this).find('span').html());
        });
    </script>
{% endblock %}
