{% extends 'base.html' %}
{% load i18n %}
{% block title %}Application Deploy{% endblock %}

{% block page_header %}
    {% include "horizon/common/_page_header.html" with title="Application Deploy" %}
{% endblock page_header %}

{% block css %}
    {% include "_stylesheets.html" %}
    <link href='{{ STATIC_URL }}slider/css/slider.css' type='text/css' media='screen' rel='stylesheet'/>
    <style type="text/css">
        {% include 'project/cdms/css_topology_canvas.html' %}
        .inst {
            display: inline-block;
        }

        .inst.on {
            opacity: 1;
            -webkit-opacity: 1;
            -moz-opacity: 1;
            filter: alpha(opacity=100);
        }

        .inst.off {
            opacity: .50;
            -webkit-opacity: .5;
            -moz-opacity: .5;
            filter: alpha(opacity=50);
        }

        .step {
            display: none;
            width: 50%;
            float: left;
        }

        .step.active {
            display: block;
        }

        .workflow * {
            display: inline-block;
        }

        .workflow {
            width: 100%;
        }

        .workflow > .head {
            width: 25%;
            min-width: 260px;
            height: 26px;
            font-size: 24px;
            text-align: center;
            background: #72f5ff;
        }

        .workflow > .head.active {
            background: #3f9aff;
        }

        .workflow > .head svg.left_svg {
            float: left;
            margin-left: -2px;
        }

        .workflow > .head svg.right_svg {
            float: right;
            margin-right: -2px;
        }

        .workflow > div:first-child > svg.left_svg {
            display: none;
        }

        .workflow > div:last-child > svg.right_svg {
            display: none;
        }

        label {
            display: inline-block;
        }

        div.confirm > .group > .blind {
            display: block;

            background: #cccccc;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            opacity: .50;
            -webkit-opacity: .5;
            -moz-opacity: .5;
            filter: alpha(opacity=50);
        }

        div.confirm > .group > .blind.disable {
            display: none;
        }

    </style>
{% endblock %}

{% block main %}
    <form id="form" action="{% url 'horizon:project:cdms_app_create:create_stack' template_name %}"
          method="POST" ng-controller="createPageController"
          data-url="{% url 'horizon:project:cdms_app_create:create_stack' template_name %}"> {% csrf_token %}
    <input type="hidden" name="template_data" value="{{ template_data }}">
    <input type="hidden" name="parameters" value="{{ parameters }}">

    <div class="workflow">
        <div class="head" ng-repeat="step in steps" ng-class="($index == activeStepIndex) ? 'active' : ''">
            <svg class="left_svg"xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 14 28" version="1.1" xml:space="preserve"
                     width="14px" height="26px" viewBox="0 0 14 32">
                    <g id="arrow_x5F_right">
                        <polygon points="0,0 14,16 0,32" style="fill:#3f9aff"></polygon>
                    </g>
                </svg>
            {$ step.name $}
            <svg class="right_svg" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 14 28" version="1.1" xml:space="preserve"
                     width="14px" height="26px" viewBox="0 0 14 32">
                    <g id="arrow_x5F_right">
                        <polygon points="0,0 14,0 14,32 0,32 14,16" style="fill:#3f9aff"></polygon>
                    </g>
                </svg>
        </div>
    </div>

    <div class="step essential">

        <h3>Essential</h3>

        <p class="label" data-name="{{ essential.value.name }}" data-tmpl="{{ essential.value.tmpl }}"></p>

        <div>
            <label>Stack Name :
                <input id="#stack_name" name="stack_name" type="text">
            </label>
        </div>
        <div>
            <label>User Password :
                <input id="password" name="password" type="password">
            </label>
        </div>
        {% for p in essential.value.param %} {# keyName only (hard code...) #}
            <div>
                <label>
                    {{ p.label }}
                    {#                    <input type="text" value="{{ p.val.Default }}" name="{{ prefix }}{{ p.label }}">#}
                    <select name="{{ prefix }}{{ p.label }}">
                        {% for key in key_list %}
                            {% if key == p.val.Default %}
                                <option selected="selected">{{ key }}</option>
                            {% else %}
                                <option>{{ key }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
        {% endfor %}
        <hr>
    </div>

    {% for step in steps %}
        <div class="step resource">
            <h3>Single Instance Setting</h3>

            <p class="label" data-name="{{ step.value.name }}" data-tmpl="{{ step.value.tmpl }}"></p>

            {% for p in step.value.param %}
                {% if p.label == step.value.chef_role %}
                    <img src="{{ STATIC_URL }}dashboard/img/chef-logo.png"
                         style="width: 55px;height:55px;float: left;">
                    <label for="role_name"
                           style="margin-left: 5px">
                        Chef Role
                        <select class="role" name="{{ prefix }}{{ p.label }}">
                            {% for role in step.value.allow_role_list %}
                                {% if role == p.val.Default %}
                                    <option selected="selected">{{ role }}</option>
                                {% else %}
                                    <option>{{ role }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </label>

                    <div style="margin-left: 80px">
                        <div ng-repeat="g in layer_groups" ng-if="g.name == '{{ step.value.name }}'">
                            <div class="chef-role-attr" ng-repeat="attr in g.chef.data.attr">
                                <label>
                                    {$ attr.path $}
                                    <input type="text" value="{$ attr.val $}"
                                           name="{{ chef_role_prefix }}{$ g.chef.data.role_name $}|{$ attr.path $}">
                                </label>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {# 나머지 파라미터 입력 받기 #}
                    <div>
                        <label>
                            {{ p.label }}
                            <input type="text" value="{{ p.val.Default }}" name="{{ prefix }}{{ p.label }}">
                        </label>
                    </div>
                {% endif %}
            {% endfor %}

            {# 만약 스케일이 필요한 녀석들이라면, #}
            {% if step.value.policy %}
                <div>
                    <hr>
                    <h3>Instance auto-scaling policy</h3>
                    {#  range slider here , when list isn't empty #}
                    <p ng-repeat="g in layer_groups" ng-if="g.name == '{{ step.value.name }}'">
                        <input type="hidden" name="{{ prefix }}PolicyMin" value="{$ g.scale.min $}">
                        <br>
                        <input type="hidden" name="{{ prefix }}PolicyMax" value="{$ g.scale.max $}">
                    </p>
{#                    <label style="width: 100%">#}
                        <div class="well well-lg" style="overflow: auto">
                            <p ng-repeat="g in layer_groups" ng-if="g.name == '{{ step.value.name }}'"
                               style="display: inline-block;float:left;margin: 0 10px">
                                <b>- MIN -</b><br>
                                <span>vCPU: {$ g.scale.min*m1SmallVCPU $}ea</span><br>
                                <span>RAM: {$ g.scale.min*m1SmallRAM $}GB</span><br>
                                <span>Disk: {$ g.scale.min*m1Smalldisk $}GB</span><br>
                            </p>

                            <input name="{{ step.value.name }}"
                                   type="text"
                                   class="span2"
                                   value="[1,2]"
                                   data-slider-min="1"
                                   data-slider-max="5"
                                   data-slider-step="1"
                                   data-slider-value="[1,2]"
                                   style="width: 300px;margin: auto">

                            <p ng-repeat="g in layer_groups" ng-if="g.name == '{{ step.value.name }}'"
                               style="display: inline-block;float:right;margin: 0px 20px">
                                <b>- MAX -</b><br>
                                <span>vCPU: {$ g.scale.max*m1SmallVCPU $}ea</span><br>
                                <span>RAM: {$ g.scale.max*m1SmallRAM $}GB</span><br>
                                <span>Disk: {$ g.scale.max*m1Smalldisk $}GB</span><br>
                            </p>
                        </div>
{#                    </label>#}
                    {% for p  in step.value.policy %}
                        <div class="scale-policy"
                             style="display: inline-block;
                        position: relative;
                        margin: 10px">
                            <h4>when</h4>
                            {# include alram here#}
                            {% for a in p.alarms_params %}
                                {% if a.type == 'meter_name' %}
                                    <label style="margin-right: 15px">
                                        {{ a.type }}
                                        <select name="{{ prefix }}{{ a.label }}"
                                                style="width: 130px">
                                            {% for s in step.value.allow_meter_list %}
                                                {% if s == a.val.Default %}
                                                    <option selected="selected">{{ s }}</option>
                                                {% else %}
                                                    <option>{{ s }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </label>
                                {% else %}
                                    <label style="margin-right: 15px">
                                        {{ a.type }}
                                        <input type="text" value="{{ a.val.Default }}"
                                               name="{{ prefix }}{{ a.label }}"
                                               style="width: 130px">
                                    </label>
                                {% endif %}
                            {% endfor %}

                            <h4>then</h4>
                            {% for a in p.params %}
                                <label>
                                    {{ a.label }}
                                    <input type="text" value="{{ a.val.Default }}"
                                           name="{{ prefix }}{{ a.label }}"
                                           style="width: 100%">
                                </label>
                            {% endfor %}
                            {% if forloop.counter0 == 0 %}
                                <img src="{{ STATIC_URL }}dashboard/img/chart-area-up.png"
                                     style="position:absolute;
                                bottom:0;
                                right:0;">
                            {% elif forloop.counter0 == 1 %}
                                <img src="{{ STATIC_URL }}dashboard/img/chart-area-down.png"
                                     style="position:absolute;
                                bottom:0;
                                right:0;">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <hr>
        </div>
    {% endfor %}
    <div title="preview" style="width:50%;float: right">
        <div title="template_view" style="width:100%; height: 180px">
            <h3>Template view</h3>

            <p class="label"></p>
            <textarea id="template_textarea" style="width: calc(100% - 10px);height: calc(100% - 50px)"></textarea>
        </div>

        <h3>Deploy Preview</h3>

        <p class="label" data-name="{{ confirm.value.name }}"></p>

        <div class="confirm" title="instance_layer_root_div" style="position: relative">
            <div class="group" title="{$e.name$}" ng-repeat="e in layer_groups"
                 style="background: #AABBCC;text-align: center; position: relative">
                <h3 style="text-align: left">{$e.name$}</h3>

                <div class="preview">
                    <div class="inst" ng-class="($index < e.scale.min) ? 'on' : 'off'"
                         ng-repeat="i in getNumber(e.scale.max) track by $index">
                        <svg width="110" height="70" class="topology_canvas">
                            <g class="instance_normal device_body" transform="translate(10,10)">
                                <g class="ports" pointer-events="none"></g>
                                <rect class="frame" x="0" y="0" rx="6" ry="6" width="90" height="50"></rect>
                                <g class="texts">
                                    <rect class="texts_bg" x="1.5" y="32" width="87" height="17"></rect>
                                    <text x="45" y="22" class="name">{$ e.chef.role_name $}</text>
                                    <text x="45" y="46" class="type">Instance</text>
                                </g>
                                <g class="icon" transform="translate(6,6)">
                                    <circle class="icon_bg" cx="0" cy="0" r="12"></circle>
                                    <g transform="translate(-5,-6.5)">
                                        <rect class="instance_bg" width="10" height="13"></rect>
                                        <rect x="2" y="1" fill="#FFFFFF" width="6" height="2"></rect>
                                        <rect x="2" y="4" fill="#FFFFFF" width="6" height="2"></rect>
                                        <circle class="active" cx="3" cy="10" r="1.3"></circle>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="info_box">
                    {# m1.small x 1 = 2GB RAM | 1 VCPU | 20.0GB Disk #}
                </div>
                <div class="blind"></div>
            </div>
        </div>

        <div class="bottom_pan" style="display: inline-block;width: 100%">
            <button id="next-btn" type="button" class="btn btn-big" style="float: right;margin: 5px">next</button>
            <a href="/project/cdms/" class="btn btn-big" style="float: right;margin: 5px">cancel</a>
        </div>
    </div>

    </form>
{% endblock %}

{% block js %}
    {% include "horizon/_scripts.html" %}
    <script src="{{ STATIC_URL }}slider/js/bootstrap-slider.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
    function createPageController($scope) {
        $scope.getNumber = function (n) {
            return new Array(n);
        };
        $scope.drawLineBetweenLayers = function (root) {
            var layers = $scope.layer_groups;
            // 일단 원래 그렸던걸 지운다.
            $('div.draw-line-by-func').remove();
            for (var i = 0; i < layers.length - 1; i++) {
                //지금 layer의 아래쪽 점을 구한다.
                var startDots = $('div.group[title=' + layers[i].name + ']').find('div.inst').map(function (ea) {
                    var self = $(this);
                    var p = getPosition(root, self);
                    return {
                        x: p.left + self.width() / 2.0,
                        y: p.top + self.height()
                    }
                });

                //다음 레이어의 위쪽 점을 구한다.
                var endDots = $('div.group[title=' + layers[i + 1].name + ']').find('div.inst').map(function (ea) {
                    var self = $(this);
                    var p = getPosition(root, self);
                    return {
                        x: p.left + self.width() / 2.0,
                        y: p.top
                    }
                });
                //구한 점들을 이어붙인다.
                for (var s = 0; s < startDots.length; s++) {
                    for (var e = 0; e < endDots.length; e++) {
                        DrawLine(root,
                                startDots[s].x, startDots[s].y,
                                endDots[e].x, endDots[e].y);
                    }
                }
            }

        };

        // find step
        $scope.steps = $('div.step').map(function (i) {
            var step = $(this);
            return {
                self: step,
                name: step.find('p.label').data('name'),
                tmpl: step.find('p.label').data('tmpl')
            }
        });

        // init step
        function isValid() {
            return $('#stack_name').val() != '' && $('#password').val() != '';
        }

        if ($('.workflow').length) { // display mode is app
            $scope.activeStepIndex = 0;
            $scope.steps[$scope.activeStepIndex].self.toggleClass('active');

            $('#next-btn').click(function (e) {
                $scope.$apply(function () {
                    if ($scope.activeStepIndex != $scope.steps.length - 1) {
                        $scope.steps[$scope.activeStepIndex].self.toggleClass('active');
                        $('div.group[title=' + $scope.steps[$scope.activeStepIndex].name + ']')
                                .find('div.blind').toggleClass('disable');
                        $scope.activeStepIndex++;
                        $scope.steps[$scope.activeStepIndex].self.toggleClass('active');
                        $('div.group[title=' + $scope.steps[$scope.activeStepIndex].name + ']')
                                .find('div.blind').toggleClass('disable');

                        $('#template_textarea').val($scope.steps[$scope.activeStepIndex].tmpl);
                    } else {
                        if (isValid()) {
                            $('#form').submit();
                        } else {
                            horizon.alert('info', '입력 값이 잘못 되었습니다. 확인해주세요.');
                            $scope.steps[$scope.activeStepIndex].self.toggleClass('active');
                            $('div.group[title=' + $scope.steps[$scope.activeStepIndex].name + ']')
                                    .find('div.blind').toggleClass('disable');
                            $scope.activeStepIndex = 0;
                            $scope.steps[$scope.activeStepIndex].self.toggleClass('active');
                            $('div.group[title=' + $scope.steps[$scope.activeStepIndex].name + ']')
                                    .find('div.blind').toggleClass('disable');
                            $('#template_textarea').val($scope.steps[$scope.activeStepIndex].tmpl);
                        }
                    }
                });
            });
        } else { //display mode is infra
            $scope.steps.each(function (i, e) {
                e.self.toggleClass('active');
            });

            $('#next-btn').click(function (e) {
                if (isValid()) {
                    $('#form').submit();
                } else {
                    horizon.alert('info', '입력 값이 잘못 되었습니다. 확인해주세요.');
                }
            });
        }

        // find & init layer
        $scope.layer_groups = $('.step.resource').map(function (i) {
            var res = $(this);
            var name = nameShorter(res.find('p.label').data('name'));
            return  {
                name: res.find('p.label').data('name'),
                chef: {
                    select: res.find('select.role'),
                    role_name: name,
                    data: null
                },
                scale: {
                    slider: res.find('input.span2'),
                    min: 1,
                    max: 1
                }
            };
        });
        $scope.layer_groups.each(function (i, e) {
            if (e.scale.slider.length) {
                e.scale.slider.slider()
                        .on('slide', function (ev) {
                            $scope.$apply(function () {
                                var val = e.scale.slider.val();
                                var t = val.split(',');
                                if (t[0].indexOf('[') != -1) {
                                    t = eval(val);
                                }
                                e.scale.min = Number(t[0]);
                                e.scale.max = Number(t[1]);
                            });
                            $scope.drawLineBetweenLayers($('div.confirm[title="instance_layer_root_div"]'))
                        })
                        .on('slideStop', function (ev) {
                            $scope.$apply(function () {
                                var val = e.scale.slider.val();
                                var t = val.split(',');
                                if (t[0].indexOf('[') != -1) {
                                    t = eval(val);
                                }
                                e.scale.min = Number(t[0]);
                                e.scale.max = Number(t[1]);
                            });
                            $scope.drawLineBetweenLayers($('div.confirm[title="instance_layer_root_div"]'))
                        });

                var t = eval(e.scale.slider.val());
                e.scale.min = t[0];
                e.scale.max = t[1];
            }
            if (e.chef.select.length) {
                e.chef.select.change(function () {
                    $.ajax({
                        url: $('#form').data('url'),
                        data: {role_name: $(this).val()},
                        success: function (data, textStatus, jqXHR) {
                            $scope.$apply(function () {
                                e.chef.data = data;
                                e.chef.role_name = nameShorter(e.chef.select.val());
                            });
                        }
                    });
                });
                $.ajax({
                    url: $('#form').data('url'),
                    data: {role_name: e.chef.select.val()},
                    success: function (data, textStatus, jqXHR) {
                        $scope.$apply(function () {
                            e.chef.data = data;
                            e.chef.role_name = nameShorter(e.chef.select.val());
                        });
                    }
                });
            }
        });


        // hardcorde 201406161736 flavor
        // flavor가 m1.small로 고정되어 있다고 믿고 작업. 급해서 어쩔 수 없다.
        $scope.m1SmallVCPU=1;//ea
        $scope.m1SmallRAM=2;//GB
        $scope.m1Smalldisk=10;//GB
    }
    function DrawLine(root, x1, y1, x2, y2) {

        if (y1 < y2) {
            var pom = y1;
            y1 = y2;
            y2 = pom;
            pom = x1;
            x1 = x2;
            x2 = pom;
        }

        var a = Math.abs(x1 - x2);
        var b = Math.abs(y1 - y2);
        var c;
        var sx = (x1 + x2) / 2;
        var sy = (y1 + y2) / 2;
        var width = Math.sqrt(a * a + b * b);
        var x = sx - width / 2;
        var y = sy;

        a = width / 2;

        c = Math.abs(sx - x);

        b = Math.sqrt(Math.abs(x1 - x) * Math.abs(x1 - x) + Math.abs(y1 - y) * Math.abs(y1 - y));

        var cosb = (b * b - a * a - c * c) / (2 * a * c);
        var rad = Math.acos(cosb);
        var deg = (rad * 180) / Math.PI;

        htmlns = "http://www.w3.org/1999/xhtml";
        div = document.createElementNS(htmlns, "div");
        div.setAttribute('class', 'draw-line-by-func')
        div.setAttribute('style', 'border:1px solid black;width:' + width + 'px;height:0px;-moz-transform:rotate(' + deg + 'deg);-webkit-transform:rotate(' + deg + 'deg);position:absolute;top:' + y + 'px;left:' + x + 'px;');

        root.append(div);

    }
    function getPosition(base, target) {
        var pos = target.position();
        var t = target;
        var offsetParent = t.offsetParent();
        while (base[0] != offsetParent[0]) {
            pos.left += offsetParent.position().left;
            pos.top += offsetParent.position().top;
            offsetParent = offsetParent.offsetParent();
        }
        return pos;
    }
    function nameShorter(str) {
        var max_size = 8;
        var suffix = '..'
        var bytes = 0;
        for (var i = 0; i < str.length; i++) {
            bytes += str.charCodeAt(i) <= 255 ? 1 : 2;
            if (bytes > max_size) {
                str = str.substr(0, i) + suffix;
                break;
            }
        }
        return str;
    }
    </script>
{% endblock %}