{% extends 'base.html' %}
{% load i18n sizeformat %}
{% block title %}{% trans "Infra Detail" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Infra Detail Info: ")|add:stack.stack_name %}
{% endblock page_header %}

{% block css %}
    {% include "_stylesheets.html" %}
    <style type="text/css">
        {% include 'project/cdms/css_topology_canvas.html' %}
        .datafield {
            display: none;
        }
    </style>
{% endblock %}

{% block main %}
<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}


{% block js %}
    {% include "horizon/_scripts.html" %}
    <script type='text/javascript' charset='utf-8'>
        {# script for AngularJS #}
        function projectDetailCtrl($scope, $interval) {
            //load context_data
            $scope.context_data = JSON.parse($('#context_data').text()); // use for layer diagram

            var temp = $scope.context_data.layers.map(function (elem) {
                return elem.members;
            });
            $scope.instanceList = Array.prototype.concat.apply([], temp);

            $scope.meter_one_id = null;

            /**
             * 일종의 메모리 처럼 쓰는 span 태그에서 (... 이거 왜 이러나 싶죠?)
             * 데이터를 읽어내서, 필요한 데이터만 적절히 걸러내어, 차트가 데이터를 읽어오는 span에 밀어 넣는다.
             * 그후 차트를 다시 로드 한다.
             */
            $scope.fillChart = function () {
                // data load
                var jsonString = $('span[title="' + $scope.meter_one_id + '-"]').text();
                if(jsonString=='{}'){
                    return;
                }
                var raw_object = JSON.parse(jsonString);

                $scope.ids = $scope.instanceList.map(function (each) {
                    return each.id;
                });

                $scope.ids.forEach(function (entry) {
                    var $tr = $('#' + entry);
                    var object = {settings: {'auto_resize': false}};
                    object.series = raw_object.series.filter(function (el) {
                        return el.name == entry;
                    });
                    $tr.find('span.datafield').html(JSON.stringify(object));
                });

                horizon.d3_line_chart.init("div[data-chart-type='line_chart']", {'auto_resize': false});
            };


            // find table tr.
            $scope.trs = $('#instances').find('tbody > tr').map(function (element) {
                var self = $(this);
                var button = self.find('button');
                var id_ = self.data('object-id');
                var data = $scope.instanceList.filter(function (el) {
                    return el.id == id_;
                });
                button.removeAttr('value'); // action 제거.
                return {
                    self: self,
                    id: id_,
                    button: button,
                    data: data[0]
                }
            });
            $scope.trs.each(function (index, element) {
                element.button.click(function (evo) {
                    var next = element.self.next();


                    if (next.attr('colspan') != undefined) { // need better determine....
                        if (next.data('column') != undefined) {
                            element.self.after($('#' + element.id));
                            // init expand componant;
                        } else {
                            $('div[title=warehouse_of_detail]').find('tr[title=expand-base]').append(next);
                        }
                    } else {
                        element.self.after($('#' + element.id));
                        // init expand componant;
                    }
                    return false;
                });
            });

            $scope.onTopologyBalloon = null;


            // DOM Ready!
            var dom_ready = function () {
                balloonSetting();
                $scope.fillChart();
            };

            // bind balloon event.
            function balloonSetting() {
                $('a.closeTopologyBalloon').click(function () {
                    var parent = $(this).parent();
                    parent.toggleClass('on');
                    $scope.onTopologyBalloon = null;
                });
                $('svg').on('mouseenter', function (d) {
                    var $this = $(this);
                    var offset = $this.offset();
                    var find = $this.parent().find('div.topologyBalloon');
                    offset.left += $this.width();
                    find.css(offset);
                    if ($scope.onTopologyBalloon != null) {
                        $scope.onTopologyBalloon.toggleClass('on');
                    }
                    find.toggleClass('on');
                    $scope.onTopologyBalloon = find;
                });
            }


            // data loading code!
            var hzAjaxford3lineChart = function (cbfn, meter) {
                return function () {
                    var url = "{% url "horizon:admin:metering:samples" %}";
                    horizon.ajax.queue({
                        url: url + "?meter=" + meter +
                                "&group_by=&stats_attr=avg&date_options=1&date_from=&date_to=",
                        success: function (data, textStatus, jqXHR) {
                            var $span = $('span[title="' + $scope.meter_one_id + '-"]');
                            if ($span.length) {
                                $span.html(JSON.stringify(data));
                            }
                            if (cbfn != null) {
                                cbfn();
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log('error:json load fail~~~');
                        }
                    });
                };
            };
            /**
             * request들이 전부 끝날때까지 기다려 주게하는 wait handle.
             * wait가 필요 없을 때는 여기에 add 하지 않고 요청하면 된다.
             */
            var waitUntilAllLoaded = {
                queue: [],
                init: function () {
                    waitUntilAllLoaded.queue = [];
                    console.log('d3linechartDateinit');
                },
                add: function (fn) {
                    waitUntilAllLoaded.queue.push(fn);
                    console.log('d3linechart:add');
                },
                start: function () {
                    console.log('data_load_start');
                    for (var i = 0; i < waitUntilAllLoaded.queue.length; i++) {
                        waitUntilAllLoaded.queue[i]();
                        console.log('call:' + i);
                    }
                },
                callback: function () {
                    waitUntilAllLoaded.queue.pop();
                    if (waitUntilAllLoaded.ready()) {
                        console.log('data_load');
                        $scope.fillChart();
                    }
                },
                ready: function () {
                    console.log('d3linechart:ready');
                    return waitUntilAllLoaded.queue.length === 0;
                }
            };

            // time interval enroll.
            $interval(refresh, 2 * 60 * 1000); // every 2min.
            //$interval(refresh, 5 * 60 * 1000); // every 5min.
            //$interval(refresh, 15 * 60 * 1000); // every 15min.
            //$interval(refresh, 30 * 1000); // every 30 sec. // 최소 30초는 기다릴 것.
            function refresh() {
                console.log('function refresh()');
                horizon.ajax.queue({
                    data:{hanjong:"tired"},
                    success: function (data, textStatus, jqXHR) {
                        $scope.$apply(function () {
                            $scope.context_data = data; // refresh init.
                        });
                        dom_ready();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log('error:my json load fail~~~');
                    }
                });
                $('div.global.datafield > span.datafield').each(function (i, e) {
                    var meter = $(this).attr('title').slice(0, -1);
                    hzAjaxford3lineChart(null, meter)();
                });
            }

            $(function () {
                // 첫 로드시에만 동작하고 ajax올 때는 동작하지 않는 코드.
                waitUntilAllLoaded.init(); // 처음에만.
                $('div.global.datafield > span.datafield').each(function (i, e) {
                    var meter = $(this).attr('title').slice(0, -1);
                    $scope.meter_one_id = meter;
                    waitUntilAllLoaded.add(hzAjaxford3lineChart(waitUntilAllLoaded.callback, meter));
                });
                waitUntilAllLoaded.start();
            });
            $(dom_ready);
        }
    </script>
{% endblock %}
