{% load i18n %}
{% load url from future %}

<div class="global datafield">
    {% for meter in meters %}
        <span title="{{ meter }}-" class="datafield">{}</span>
    {% endfor %}
</div>
{% include 'project/cdms/d3linechart_hidden.html' %}
<span id="context_data" class="datafield">
        {{ layers_json }}
</span>

<div id="scope" ng-controller="projectDetailCtrl">
    <span class="datafield"> DEBUG:{$ context_data.timestamp $} </span>

    <div title="layer-display" style="border: 5px outset #98bf21;padding:50px 3px;text-align: center">
        <div class="group" ng-repeat="layer in context_data.layers" style="">
            <h3 style="text-align: left;">{$layer.name$}</h3>

            <div class="preview">
                <div class="inst" ng-repeat="instance in layer.members" style="display: inline-block">
                    <svg width="110" height="70" class="topology_canvas">
                        <g class="instance_normal device_body" transform="translate(10,10)">
                            <g class="ports" pointer-events="none"></g>
                            <rect class="frame" x="0" y="0" rx="6" ry="6" width="90" height="50"></rect>
                            <g class="texts">
                                <rect class="texts_bg" x="1.5" y="32" width="87" height="17"></rect>
                                <text x="45" y="22" class="name">{$ instance.role $}</text>
                                <text x="45" y="46" class="type">{$ instance.sample $}</text>
                            </g>
                            <g class="icon" transform="translate(6,6)">
                                <circle class="icon_bg" cx="0" cy="0" r="12"></circle>
                                <g transform="translate(-5,-6.5)">
                                    <rect class="instance_bg" width="10" height="13"></rect>
                                    <rect x="2" y="1" fill="#FFFFFF" width="6" height="2"></rect>
                                    <rect x="2" y="4" fill="#FFFFFF" width="6" height="2"></rect>
                                    <circle class="active" cx="3" cy="10" r="1.3"></circle>
                                </g>
                            </g>
                        </g>
                    </svg>

                    <div class="topologyBalloon">
                        <a href="#close" class="closeTopologyBalloon">&times;</a>

                        <div class="contentBody">
                            {$ instance.id $}
                        </div>
                        <div class="footer">
                            <div class="footerInner">
                                <div class="cell link">
                                    <a href="{$ instance.console_url $}" target="_blank"
                                       class="vnc_window">» open vnc console</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {# and n more instance available #}
                <div class="volume-info" style="display:inline-block;float:right">
                    <svg width="300" height="80" class="volume_info_canvas">
                        <g class="databag">
                            <text x="0" y="22">databag name</text>
                            <text x="92" y="22">:</text>
                            <text x="100" y="22" class="name">{$ layer.databag_name $}</text>
                        </g>
                        <g class="volume">
                            <text x="0" y="46">volume info</text>
                            <text x="92" y="46">:</text>
                            <text x="100" y="46" class="volume_info">{$ layer.volume_info $}</text>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div title="warehouse_of_detail" class="datafield">
        <table>
            <tr title="expand-base">
                <td colspan="11" id="{$ tr.id $}" ng-repeat="tr in trs" style="padding: 0">
                    <div title="expand-base">
                        <div class="span9 chart_container" style="width: 232px;height: 174px;float: left">
                            <div class="chart"
                                 data-chart-type="line_chart"
                                 data-url="{% url 'horizon:admin:metering:samples' %}"
                                 data-form-selector='#linechart_general_form'
                                 data-legend-selector="#legend"
                                 data-smoother-selector="#smoother"
                                 data-slider-selector="#slider">
                            </div>
                            <span class="datafield">{}</span>
                        </div>
                        <div title="datasheet" style="width:calc(100% - 232px);float: right">
                            <table cellpadding="4" width="100%">
                                <tbody>
                                <tr>
                                    <td width=14%>
                                        
                                    </td>
                                    <td width=86%>
                                        Scale up policy
                                    </td>
                                </tr>
                                <tr>
                                    <td width=14%>
                                        meter name
                                    </td>
                                    <td width=86%>
                                        {$ tr.data.up_policy.meter_name $}
                                    </td>
                                </tr>
                                <tr>
                                    <td width=14%>
                                        period
                                    </td>
                                    <td width=86%>
                                        {$ tr.data.up_policy.period $}
                                    </td>
                                </tr>
                                <tr>
                                    <td width=14%>
                                        threshold
                                    </td>
                                    <td width=86%>
                                        {$ tr.data.up_policy.threshold $}
                                    </td>
                                </tr>
                                <tr>
                                    <td width=14%>
                                        description
                                    </td>
                                    <td width=86%>
                                        {$ tr.data.up_policy.description $}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="horizon-table-hj-practice">
    {{ table.render }}
</div>







